/* Default styles
 =================================================== */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1438px;
    margin: 0 auto;
}

.container {
    width: 72%;
    margin:0 auto;
    font-size: 10px;
    /*text-align: center;*/
}

/* hamburger styles
 =================================================== */

.hamburger {
    display: none;
    position: fixed;
    top:20px;
    right:20px;
    width: 30px;
    height: 30px;
    padding: 4px;
    background: transparent;
    border: 1px solid #00A4E5;
    border-radius: 25%;
}
.hamburger > div{
    display: none;
    position: relative;
    height: 3px;
    width: 20px;
    /*z-index: 2;*/
    background: #00A4E5;
}

.hamburger div::after {
    position: absolute;
    top: 8px;
    left: 0px;
    content: '';
    height: 3px;
    width: 20px;
    background: #00A4E5;
}

.hamburger div::before {
    position: absolute;
    top: 16px;
    left: 0px;
    content: '';
    height: 3px;
    width: 20px;
    background: #00A4E5;
}

/* header styles
 =================================================== */
 
 .header {
    position:relative;
    background:url(../img/bg.png) no-repeat center/cover;
    /*height:769px;*/
    height:100vh;
 }

 .header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
 } 


.logo {
    font-family: 'Bebas Neue', sans-serif;
    /*font-size: 30px;*/
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 1.74px;
    text-transform: uppercase;
    color:#FFFFFF;
    /*padding-top: 31.8px;*/
    padding-top: 5vh;
    /*margin-bottom: 318px;*/
    /*margin-bottom:52%;*/
}

.logo span {
    color:transparent;
}

.logo__shape {
    position: relative;
}

.logo__shape:after {
    position: absolute;
    top: 6px;
    left: 1px;
    content: '';
    width: 0px; 
    height: 0px;
    border-style: solid;
    border-width: 11px 8px 11px 0;
    border-color: transparent #00A4E5 transparent transparent;
}

.header-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.7px;
    line-height: 60px;
    text-transform: uppercase;
    color:#FFFFFF;
    margin-bottom: 0px;
}

.header-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    /*margin-bottom:200px;*/
    /*margin-bottom: 200px;*/
}

.header-center {
    text-align: center;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    /*height:769px;*/
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3.7px;
    color:#FFFFFF;
    /*padding-bottom: 80px;*/
    padding-bottom: 7vh;
}

/* nav-bar styles
 =================================================== */
.nav-bar {
    border: 1px solid #E6E6E6;
}
.nav-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:#000000;
    padding-top:26px;
    padding-bottom: 23px;
}

.logo-nav span {
    color:transparent;
}

.logo__shape--size:after {
    border-width: 9px 7px 9px 0;
}

.links {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing:1px;
    text-transform: uppercase;
    color: #48555B;
    font-weight: 600;
    padding-left: 48px;
}

.links:hover {
    color:#00A4E5;
}

.nav-menu {
    padding-top:25px;
    padding-bottom: 25px;
}


/* about styles
 =================================================== */

 .about-header-box {
     display:flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     align-items: center;
     padding-top:58px;
 }

 .about-title {
    letter-spacing: 2.30625px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color:#48555B;
    margin-bottom: 10px;
 }

 .about-line {
    width: 50px;
    height: 2px;
    background: #00A4E5;
    border:none;
    margin-bottom: 60px;
 }

 .about-main {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 about-text-box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width:405px;
 }

 .about-main-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1875px;
    line-height: 27px;
    color: #48555B;
    max-width:405px;
    margin-bottom: 30px;
 }

 .about-main-text {
    max-width:405px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
 }

 .blue-konstruct {
     color:#00A4E5;
 } 

 .about-img-box {
     display: flex;
     justify-content: space-between;
     padding-top:13px;
     min-height: 225px;
     /*margin:0 auto;*/
     margin-right: 0;
 }

 .img-box-left {
    background:url(../img/we_plan.png) no-repeat center/cover;
 }

 .img-box-center {
    background:url(../img/we_manage.png) no-repeat center/cover;
 }

 .imgc {
     margin:0 15px;
 }

 .img-box-right {
    background:url(../img/we_build.png) no-repeat center/cover;
    margin-right:0px;
 }

 .img-box {
    width:142px;
    height:225px;
 }

.img-text-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top:23px;
    margin-left:15px;
    max-width: 68px;
}

/* services styles
 =================================================== */
 .services {
     margin-top:120px;
 }

 .header-services-wrap {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 78px;
 }

 .header-services {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items:flex-start;
 }

 .title-wrap {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin-bottom: 10px;
 }

 .header-services-line {
    width: 50px;
    height: 2px;
    background: #00A4E5;
    border:none;
 }

 .services-text {
     max-width:405px;
     font-family: 'Open Sans', sans-serif;
     font-size: 11px;
     font-weight: 400;
     line-height: 19px;
     letter-spacing: 0.2px;
     color: #48555B;
 }

 .services__button {
    background:  #FFFFFF;
    border: 1px solid #00A4E5;
    cursor: pointer;
    padding:11px 29px;
    outline:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color:  #48555B;
 }

 .services__button:hover {
    background:  #00A4E5;
    border: none;
    outline:none;
    color: #FFFFFF;
 }

 .main-services-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 154px;
 }

 .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:295px;
    border: 1px solid #E6E6E6;
 }

 .card-center {
    margin-left: 28px;
    margin-right:28px;
}

.card-icon {
    padding:38px 0 25px 23px;
}

.card-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.426667px;
    text-transform: uppercase;
    color: #48555B;
    max-width:250px;
    padding:0 0 13px 23px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1875px;
    max-width:250px;
    padding:0 0 39px 23px;
}

/* get-in-touch styles
 =================================================== */

 .get-in-touch {
    background:url(../img/bg_town.png) no-repeat center/cover;
 }

 .get-in-touch-wrap {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .get-in-touch-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 35px;
    padding-top:120px;
    color: #48555B;
    max-width:350px;
    text-align: center;
 }

 .services__button--margin {
    margin-bottom:231.24px;
 }


/* newsletter styles
 =================================================== */

 .newsletter {
     background: #171819;
     /*height: 100px;*/
 }
 
 .newsletter-wrap {
     display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
 }

 .services__button--padding {
    padding:11px 48.5px;
 }

 .newsletter-title {
     padding-top: 30px;
     font-family: 'Open Sans', sans-serif;
     font-size: 22px;
     font-weight: 700;
     line-height: 30px;
     letter-spacing: 0.846154px;
     color: #FFFFFF;
 }

 .newsletter-form-fields {
     display: flex;
     justify-content: center;
     padding-top:30px;
 }

 .newsletter-email {
     width:250px;
     padding-left:16px;
     padding-top: 11px;
     padding-bottom:10px;
 }

/* footer styles
 =================================================== */ 

.footer-wrap {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

 .footer {
     background: #141A20;
     /*height:240px;*/
     font-family: 'Open Sans', sans-serif;
     font-size: 11px;
     font-weight: 400;
     color:#FFFFFF;
 }

 .company-wrap {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     max-width:250px;
     margin-right:71px;
 }

 .company-subtitle {
    line-height: 15px;
    letter-spacing: 0.85px;
    margin-bottom: 16px;
    text-transform: uppercase;
    padding-top:40px;
 }

 .company-logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    letter-spacing: 1.74px;
    margin-bottom: 12px;
    text-transform: uppercase;
 }

 .company-logo span {
    color:transparent;
}

.logo__shape--sized:after {
    border-width: 9.5px 7px 9.5px 0;
}

 .company-text {
    line-height: 19px;
    letter-spacing: 0.85px;
    padding-bottom:50px;
 }

 .link-footer:hover {
   color:#00A4E5;
 }
 .links-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-weight: 600;
 }

 .links-wrap__common {
    line-height: 15px;
    letter-spacing: 0.85px;
    margin-bottom: 18px;
 }

 .links-wrap__home {
     padding-top:42px;
 }

 .links-contacts {
   padding-bottom: 48px;
   margin-bottom:0px;
 }

 .links-wrap-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase; 
    font-weight: 600;
    margin-right: 40px;
 }
  
 links-wrap-center__common {
    line-height: 15px;
    letter-spacing: 0.85px;
    margin-right: 40px;
 }

 .links-wrap-center__faq {
     padding-top:72px;
     margin-bottom: 18px;
 }

 .links-wrap-center__terms {
    margin-bottom: 18px;
 }

 .links-wrap-center__careers {
    padding-bottom: 88px;
    margin-bottom:0px;
 }

 .links-wrap-center__margin {
    margin-right: 58px;
 }

 .company-contacts-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 120px;
 }

 .company-contacts-us {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 42px;
    line-height: 15px;
    letter-spacing: 0.85px;
 }

 .company-contacts-address {
    letter-spacing: 0.846154px;
    margin-bottom: 18px;
 }

 a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color:#FFFFFF; 
 }

 .data-tel {
    margin-bottom: 18px;
 }
 .data-email {
     padding-bottom: 40px;
 }

 .social-links {
     display: flex;
     padding-top:72px;
 }

 .twitter-icon {
     margin-left:15px;
     margin-right: 15px;
 }

/* signature styles
 =================================================== */ 

 .signature {
    background: #171819;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signature-text {
    margin-top: 22px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
}