@media (max-width: 479px){

    /* Default styles
 =================================================== */

    .wrap {
        margin: 0 auto;
    }

    .container {
        text-align:center;
    }

    /* hamburger styles
 =================================================== */

    .hamburger {
        display: block;
    }

    .hamburger .hamburger__content{
        display: block;
    }
    
    /* header styles
 =================================================== */
    .header {
        height: 100vh;
    }
     
    /* nav-bar styles
 =================================================== */
    .navigation {
        display: none;
    }

    /* about styles
 =================================================== */

    .about__main__text {
        margin-bottom: 20px;
    }
    .product__center_position {
        margin:15px;
    }

    .products__container {
        flex-direction: column;
        align-items:center;
    }

/* services styles
 =================================================== */

    .services__header {
        flex-direction:column;
        align-items: center;
    }
    .services__header__content {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .services__header__text {
        margin-bottom:15px;
    }

    .services__header {
        flex-direction:column;
        align-items: center;
    }

    .services__header__content{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .services__main {
        flex-direction: column;
        margin:0 auto;
        align-items: center;
    }

    .services__card__center {
        margin:10px 0 10px;
    }

    .services {
        margin-top:60px;
    }

    .card__subtitle {
        max-width: 180px;
    }

    .card__text {
        max-width: 180px;
    }

    .services__card {
        width:210px;
    }

    /* newsletter styles
 =================================================== */

    .newsletter__form {
        flex-direction: column;
        align-items: center;
    }

    .newsletter__title {
        font-size:16px;
    }

    .newsletter__form__email {
        width:180px;
        margin-bottom: 15px;
    } 
  
    .newsletter__content {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content:center;
    }

    .services__button--padding {
        padding:11px 15px;
    }

    /* footer styles
 =================================================== */ 

    .contacts__content {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    .company__content {
        align-items: center;
    }

    .company__text {
        text-align: center;
    }

    .footer__list__center__first{
        padding-top:40px;
    }

    .footer__list__item__center {
        margin-right: 15px;
     }

    .footer__social__links {
        padding-top:40px;
        padding-bottom: 40px;
        margin:0 auto;
    }

    .company__email{
        padding-bottom: 10px;
    }

    .company__text {
        padding-bottom:10px;
    }
 
}

@media (max-width: 768px){

    /* Default styles
 =================================================== */

    .wrap {
        margin: 0 auto;
    }

    .container {
        text-align:center;
    }

    /* hamburger styles
 =================================================== */

    .hamburger {
        display: block;
    }

    .hamburger .hamburger__content{
        display: block;
    }

    /* nav-bar styles
 =================================================== */

    .navigation {
        display: none;
    }


    /* about styles
 =================================================== */

    .about__main__text {
        margin-bottom: 20px;
    }

    .about__main__content {
        align-items: center;
        margin: 0 auto;
    }

    .products__container {
        margin:0 auto;
    }


    /* services styles
 =================================================== */

    .services__header {
        flex-direction:column;
        align-items: center;
    }
    .services__header__content {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .services__header__text {
        margin-bottom:15px;
    }

    .services__main {
        flex-direction: column;
        margin:0 auto;
        align-items: center;
    }

    .services__card__center {
        margin:10px 0 10px;
    }

    .services {
        margin-top:60px;
    }

    .services__card {
        text-align: left;
    }

/* newsletter styles
 =================================================== */

    .newsletter__form {
        padding-bottom: 35px;
    }

    /* footer styles
 =================================================== */ 

    .footer__list__center {
        margin-right: 30px;
    }

    .footer__list {
        margin-right: 70px;
    }

    .contacts__content {
        text-align: left;
    }

    .company__content {
        text-align: left;
        margin-right:50px;
    }

}